.home {
  .main {
    position: absolute;
    top: 0;
    z-index: 2;
    &-welcome {
      h1 {
        span {
          font-size: 3.125rem;
          text-transform: uppercase;
          &.name {
            color: var(--color-fouth);
          }
        }
      }
      h2 {
        span {
          color: var(--text-color-third);
          font-size: 2rem;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
      .title-sub {
        font-size: 2.25rem;
      }
      @media screen and (max-width: 576px) {
        h1 {
          span {
            font-size: 2.5rem;
          }
        }
        h2 {
          span {
            font-size: 1.5rem;
          }
        }
        .title-sub {
          font-size: 1.75rem;
        }
      }
    }
    &-image {
      height: 100%;
      overflow: hidden;
      position: relative;
      &--wrap {
        bottom: 0;
        height: 100%;
        padding-top: 10%;
        padding-bottom: 0;
        position: absolute;
        svg {
          height: 100%;
          feFlood {
            flood-color: var(--home-image-circle-shadow);
          }
          #Path_654 {
            fill: var(--home-image-path-fill);
          }
          #Ellipse_1 {
            fill: var(--home-image-circle-fill);
            stroke: var(--home-image-circle-stroke);
            stroke-width: var(--home-image-circle-stroke-width);
          }
          #Ellipse_2, #Ellipse_3 {
            fill: var(--color-third);
          }
        }
      }
    }
  }
  &-path {
    height: 100%;
    left: -116px;
    position: absolute;
    top: -11px;
    z-index: 1;
    svg {
      height: 100%;
      fill: var(--home-path-fill);
    }
  }
  // Responsive
  @media screen and (max-width: 992px) {
    .home-path {
      left: 116px;
      top: 0;
      transform: rotate(30deg);
    }
    .main {
      &-welcome {
        padding: 6rem 2rem 3rem 2rem;
      }
      &-image {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 2rem 0 2rem;
        &--wrap {
          max-width: 371px;
          position: unset;
          svg {
            width: 100%;
          }
        }
      }
    }
  }
}
