// Variables

$background-color-dark-1: #1C1C1C;
$background-color-dark-2: #292929;
$background-color-dark-3: #333333;
$background-color-dark-4: #666666;

$background-color-orange-1: #FFC95B;
$background-color-orange-2: #FFBB31;

$color-orange-1: #FFC95B;
$color-orange-2: #FFBB31;

$color-white: #ffffff;
$color-black: #000000;

$color-gray-1: #f7f7f7;
$color-gray-2: #CCCCCC;
$color-gray-3: #999999;

$color-dark-1: #1C1C1C;
$color-dark-2: #292929;
$color-dark-3: #333333;
$color-dark-4: #666666;









